In [10]:
import pandas as pd
import datetime

In [16]:
InPath = 'F:/NDSucess/csv/'
OutPath = 'F:/NDDeal/csv/'
# fileName = 'fanthreegrade1.csv'
# InPath = 'F:/tempdata/'
# OutPath = 'F:/ND/'
fileName = 'small_humidifier_maxpower1.csv'

In [17]:
df = pd.read_csv(InPath + fileName)
df

,id,DeviceTime,HomeID,RecvTime,InternalIndex,Channel,Rate,Value,Note
0,95,2023/06/12 13:22:39,1,2023/08/20 09:06:00.335529,93,1,1024,433|408|385|361|337|314|290|267|243|219|195|16...,NaN
1,96,2023/06/12 13:22:39,1,2023/08/20 09:06:00.355893,93,2,1024,-19|-20|-20|-21|-20|-21|-20|-20|-20|-21|-20|-2...,NaN
2,97,2023/06/12 13:22:39,1,2023/08/20 09:06:00.356961,94,1,1024,442|418|396|372|349|325|300|276|252|226|199|17...,NaN
3,98,2023/06/12 13:22:39,1,2023/08/20 09:06:00.358356,94,2,1024,-19|-19|-19|-21|-19|-20|-20|-21|-21|-21|-20|-1...,NaN
4,99,2023/06/12 13:22:39,1,2023/08/20 09:06:00.376447,95,1,1024,443|417|391|364|337|312|286|258|232|206|178|15...,NaN
...,...,...,...,...,...,...,...,...,...
444083,444178,2023/06/12 14:36:37,1,2023/08/20 10:19:59.258468,182,2,1024,-508|-590|-645|-682|-711|-735|-754|-771|-785|-...,NaN
444084,444179,2023/06/12 14:36:37,1,2023/08/20 10:19:59.276726,183,1,1024,-3807|-3818|-3827|-3837|-3847|-3858|-3868|-388...,NaN
444085,444180,2023/06/12 14:36:37,1,2023/08/20 10:19:59.296428,183,2,1024,-497|-584|-640|-679|-707|-726|-745|-761|-776|-...,NaN
444086,444181,2023/06/12 14:36:37,1,2023/08/20 10:19:59.297468,184,1,1024,-3798|-3807|-3816|-3826|-3836|-3848|-3858|-386...,NaN
444087,444182,2023/06/12 14:36:37,1,2023/08/20 10:19:59.298435,184,2,1024,-366|-496|-582|-639|-681|-713|-741|-763|-783|-...,NaN

In [18]:

# 表示pd按照"feature_name"这个字段排序;
#
# inplace：默认为False,如果该值为False，那么原来的pd顺序没变，只是返回的是排序的；
#
# ascending：默认为True，按照升序排序，为False时，按照降序排序。

df_RecvTimeSort = df.sort_values(by=["DeviceTime","InternalIndex"],inplace=False,ascending=[True,True])
df_RecvTimeSort

,id,DeviceTime,HomeID,RecvTime,InternalIndex,Channel,Rate,Value,Note
0,95,2023/06/12 13:22:39,1,2023/08/20 09:06:00.335529,93,1,1024,433|408|385|361|337|314|290|267|243|219|195|16...,NaN
1,96,2023/06/12 13:22:39,1,2023/08/20 09:06:00.355893,93,2,1024,-19|-20|-20|-21|-20|-21|-20|-20|-20|-21|-20|-2...,NaN
2,97,2023/06/12 13:22:39,1,2023/08/20 09:06:00.356961,94,1,1024,442|418|396|372|349|325|300|276|252|226|199|17...,NaN
3,98,2023/06/12 13:22:39,1,2023/08/20 09:06:00.358356,94,2,1024,-19|-19|-19|-21|-19|-20|-20|-21|-21|-21|-20|-1...,NaN
4,99,2023/06/12 13:22:39,1,2023/08/20 09:06:00.376447,95,1,1024,443|417|391|364|337|312|286|258|232|206|178|15...,NaN
...,...,...,...,...,...,...,...,...,...
444083,444178,2023/06/12 14:36:37,1,2023/08/20 10:19:59.258468,182,2,1024,-508|-590|-645|-682|-711|-735|-754|-771|-785|-...,NaN
444084,444179,2023/06/12 14:36:37,1,2023/08/20 10:19:59.276726,183,1,1024,-3807|-3818|-3827|-3837|-3847|-3858|-3868|-388...,NaN
444085,444180,2023/06/12 14:36:37,1,2023/08/20 10:19:59.296428,183,2,1024,-497|-584|-640|-679|-707|-726|-745|-761|-776|-...,NaN
444086,444181,2023/06/12 14:36:37,1,2023/08/20 10:19:59.297468,184,1,1024,-3798|-3807|-3816|-3826|-3836|-3848|-3858|-386...,NaN
444087,444182,2023/06/12 14:36:37,1,2023/08/20 10:19:59.298435,184,2,1024,-366|-496|-582|-639|-681|-713|-741|-763|-783|-...,NaN

In [19]:
DataList = []
for row in df_RecvTimeSort.itertuples():
    DataList.append(row)
len(DataList),len(DataList)/2

(444088, 222044.0)

In [20]:
id = []
DeviceTime = []
HomeID = []
RecvTime = []
InternalIndex = []
Channel = []
Rate = []
Value = []
index = 0
Success = 0
Error = 0

for i in range(0,int(len(DataList)),2):
    if i+1 >= int(len(DataList)):
        break

    Record1 = DataList[i]
    Record2 = DataList[i+1]
    if int(Record1.InternalIndex) == int(Record2.InternalIndex):
        Success = Success + 1
        try:
            Record1Time = datetime.datetime.strptime(Record1.RecvTime,"%Y/%m/%d %H:%M:%S.%f")
        except:
            print(Record1.RecvTime)
            NewRecvTime = Record1.RecvTime+'.000000'
            Record1Time = datetime.datetime.strptime(NewRecvTime,"%Y/%m/%d %H:%M:%S.%f")

        try:
            Record2Time = datetime.datetime.strptime(Record2.RecvTime,"%Y/%m/%d %H:%M:%S.%f")
        except:
            print(type(Record2.RecvTime))
            NewRecvTime = Record2.RecvTime+'.000000'
            Record2Time = datetime.datetime.strptime(NewRecvTime,"%Y/%m/%d %H:%M:%S.%f")

        CommonTime = min(Record1Time,Record2Time)



        id.append(index)
        DeviceTime.append(Record1.DeviceTime)
        HomeID.append(Record1.HomeID)
        RecvTime.append(CommonTime.strftime("%Y/%m/%d %H:%M:%S.%f"))
        InternalIndex.append(Record1.InternalIndex)
        Channel.append(Record1.Channel)
        Rate.append(Record1.Rate)
        Value.append(Record1.Value)

        index = index + 1

        id.append(index)
        DeviceTime.append(Record2.DeviceTime)
        HomeID.append(Record2.HomeID)
        RecvTime.append(CommonTime.strftime("%Y/%m/%d %H:%M:%S.%f"))
        InternalIndex.append(Record2.InternalIndex)
        Channel.append(Record2.Channel)
        Rate.append(Record2.Rate)
        Value.append(Record2.Value)
        index = index + 1

    else:
        print(Record1.id,Record2.id)
        Error = Error + 1

print(Success,Error)
SaveDict = {'DeviceTime': DeviceTime, 'HomeID': HomeID, 'RecvTime': RecvTime, 'InternalIndex': InternalIndex, 'Channel': Channel, 'Rate': Rate, 'Value': Value}
df_Frame = pd.DataFrame(SaveDict)
df_save = df_Frame.sort_values(by=["DeviceTime","RecvTime"],inplace=False,ascending=[True,True])
df_save.insert(loc=0,column='id',value=id)
df_save.to_csv(OutPath + fileName,index=None)
df_save

<class 'str'>
222044 0

,id,DeviceTime,HomeID,RecvTime,InternalIndex,Channel,Rate,Value
0,0,2023/06/12 13:22:39,1,2023/08/20 09:06:00.335529,93,1,1024,433|408|385|361|337|314|290|267|243|219|195|16...
1,1,2023/06/12 13:22:39,1,2023/08/20 09:06:00.335529,93,2,1024,-19|-20|-20|-21|-20|-21|-20|-20|-20|-21|-20|-2...
2,2,2023/06/12 13:22:39,1,2023/08/20 09:06:00.356961,94,1,1024,442|418|396|372|349|325|300|276|252|226|199|17...
3,3,2023/06/12 13:22:39,1,2023/08/20 09:06:00.356961,94,2,1024,-19|-19|-19|-21|-19|-20|-20|-21|-21|-21|-20|-1...
4,4,2023/06/12 13:22:39,1,2023/08/20 09:06:00.376447,95,1,1024,443|417|391|364|337|312|286|258|232|206|178|15...
...,...,...,...,...,...,...,...,...
444083,444083,2023/06/12 14:36:37,1,2023/08/20 10:19:59.257465,182,2,1024,-508|-590|-645|-682|-711|-735|-754|-771|-785|-...
444084,444084,2023/06/12 14:36:37,1,2023/08/20 10:19:59.276726,183,1,1024,-3807|-3818|-3827|-3837|-3847|-3858|-3868|-388...
444085,444085,2023/06/12 14:36:37,1,2023/08/20 10:19:59.276726,183,2,1024,-497|-584|-640|-679|-707|-726|-745|-761|-776|-...
444086,444086,2023/06/12 14:36:37,1,2023/08/20 10:19:59.297468,184,1,1024,-3798|-3807|-3816|-3826|-3836|-3848|-3858|-386...
444087,444087,2023/06/12 14:36:37,1,2023/08/20 10:19:59.297468,184,2,1024,-366|-496|-582|-639|-681|-713|-741|-763|-783|-...

In [21]:
CheckList = []
CheckInternalIndex = []
successCount = 0
for row in df_save.itertuples():
    CheckList.append(row)
for i in range(0,int(len(CheckList)),2):
    Record1 = CheckList[i]
    CheckInternalIndex.append(Record1.InternalIndex)
count = CheckInternalIndex[0]
for i in range(0,len(CheckInternalIndex)):
    # print(CheckInternalIndex[i],count,i)
    if int(CheckInternalIndex[i]) != count:
        print("Error",i)
    else:
        successCount = successCount + 1
    count = (count+1)%256
print(successCount)

222044